
@import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); // Inter for Eng

body{
  font-size: 21px !important;
}


*{
  box-sizing: content-box !important; /* Change it to content-box or any other value you want */
}

h1,h2,h3,h4,h5,h6{
  margin-top: 11px !important;
  margin-bottom: 11px !important;
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}

ul > li {
  margin-bottom: 8px;
  list-style: none;
}

.lg {
  font-size: 26px !important;
  line-height: 3;
}

.xl {
  font-size: 32px !important;
}

/* Automatically apply Arabic font to Arabic text */
*:lang(ar) {
  font-family: "Amiri Quran", serif;
}

.ar-r {
  font-family: "Amiri", serif;
  font-weight: 400;
  font-style: normal;
}

.ar-b {
  font-family: "Amiri", serif;
  font-weight: 700;
  font-style: normal;
}

.ur {
  font-family: "Noto Nastaliq Urdu", serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 3;
  font-style: normal;
}


// ----------- table ----------------
table {
  width: 70%;
  margin: 20px auto;
  border-collapse: collapse;
  font-family: "Amiri", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  background: linear-gradient(to bottom right, #f0e6ff, #ccffff);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
}



/* Header Styling */
th {
  background-color: #7d5fff;
  color: #111111;
  padding: 15px;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  border-bottom: 4px solid #6c4cff;
}

/* Cell Styling */
td {
  padding: 15px;
  text-align: center;
  border: 1px solid #6c4cff;
  color: #fa3232;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

/* Adding rounded corners to top-left and top-right cells */
th:first-child {
  border-top-left-radius: 10px;
}

th:last-child {
  border-top-right-radius: 10px;
}

