// ! This is not working, right now css is in _layouts/default.html

@import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&display=swap');


.arabic-text {
  font-family: "Amiri Quran", serif;
  font-weight: 400;
  font-style: normal;
}



// Optional: Add any other custom styles here

