---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline" id="postTitle">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}
    </p>
    {%- if page.categories -%}
      <div class="post-category">
        {%- for category in page.categories -%}
          <p>{{ category }}</p>
        {%- endfor -%}
      </div>
    {%- endif -%}
  </header>

  <div class="post-content blog e-content " itemprop="articleBody">
    {{ content }}
  </div>

  <!-- Scroll to Top Button -->
  <a href="#postTitle" class="scroll-to-top" id="scrollToTopBtn" title="Go to top">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="36px" height="36px">
      <path d="M4 12l1.41 1.41L11 7.83V20h2V7.83l5.59 5.58L20 12l-8-8-8 8z"/>
    </svg>    
  </a>


  <!-- TODO : fix: theme of comments should change realtime when theme changes also update max-width -->
  <div style="max-width: 800px; margin: 0 auto; padding: 1rem;">
    <script>
      // Retrieve the theme from localStorage or set a default
      const theme = localStorage.getItem('theme') || 'light';
      
      // Create and insert the Giscus script element
      const giscusScript = document.createElement('script');
      giscusScript.src = "https://giscus.app/client.js";
      giscusScript.setAttribute('data-repo', 'Huzaifa-code/ArabicPathwayBlogs');
      giscusScript.setAttribute('data-repo-id', 'R_kgDOMwjnTQ');
      giscusScript.setAttribute('data-category', 'Q&A');
      giscusScript.setAttribute('data-category-id', 'DIC_kwDOMwjnTc4CikrO');
      giscusScript.setAttribute('data-mapping', 'url');
      giscusScript.setAttribute('data-strict', '0');
      giscusScript.setAttribute('data-reactions-enabled', '1');
      giscusScript.setAttribute('data-emit-metadata', '0');
      giscusScript.setAttribute('data-input-position', 'top');
      giscusScript.setAttribute('data-theme', theme);
      giscusScript.setAttribute('data-lang', 'en');
      giscusScript.setAttribute('data-loading', 'lazy');
      giscusScript.crossOrigin = 'anonymous';
      giscusScript.async = true;
      
      document.body.appendChild(giscusScript);
    </script>
  </div>


  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
